.beforeCarouselImage{
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
}
.carousel-images{
    width: 100%;
}

.carousel-control-next-icon .carousel-control-prev-icon{
    color: brown;
}
@media (max-width: 600px) {
    .beforeCarouselImage{
        display: none;
    }
    .carousel-images{
        display: none;
    }
  }
  
